@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a id="profile-link" href="@Url.Action("EditProfile", "Account")">@User.Identity.Name</a>
        </li>
        <li>
            @Html.ActionLink("Sign out", "SignOut", "Account")
        </li>
        <li>
            @Html.ActionLink("Claims", "Claims", "Home")
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign up", "SignUp", "Account", routeValues: null, htmlAttributes: new { id = "signUpLink" })</li>
        <li>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
