<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/favicon.png" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <!--[if IE]>
        <link rel="shortcut icon" href="/favicon.ico">
    <![endif]-->

    <title>@ViewBag.Title - Contoso Sports League</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        var sdkInstance = "appInsightsSDK"; window[sdkInstance] = "appInsights"; var aiName = window[sdkInstance], aisdk = window[aiName] || function (e) { function n(e) { t[e] = function () { var n = arguments; t.queue.push(function () { t[e].apply(t, n) }) } } var t = { config: e }; t.initialize = !0; var i = document, a = window; setTimeout(function () { var n = i.createElement("script"); n.src = e.url || "https://az416426.vo.msecnd.net/scripts/b/ai.2.min.js", i.getElementsByTagName("script")[0].parentNode.appendChild(n) }); try { t.cookie = i.cookie } catch (e) { } t.queue = [], t.version = 2; for (var r = ["Event", "PageView", "Exception", "Trace", "DependencyData", "Metric", "PageViewPerformance"]; r.length;)n("track" + r.pop()); n("startTrackPage"), n("stopTrackPage"); var s = "Track" + r[0]; if (n("start" + s), n("stop" + s), n("setAuthenticatedUserContext"), n("clearAuthenticatedUserContext"), n("flush"), !(!0 === e.disableExceptionTracking || e.extensionConfig && e.extensionConfig.ApplicationInsightsAnalytics && !0 === e.extensionConfig.ApplicationInsightsAnalytics.disableExceptionTracking)) { n("_" + (r = "onerror")); var o = a[r]; a[r] = function (e, n, i, a, s) { var c = o && o(e, n, i, a, s); return !0 !== c && t["_" + r]({ message: e, url: n, lineNumber: i, columnNumber: a, error: s }), c }, e.autoExceptionInstrumented = !0 } return t }(
            {
                instrumentationKey: "d329daab-4feb-44e7-89d8-32deddd7d5b9"
            }
        ); window[aiName] = aisdk, aisdk.queue && 0 === aisdk.queue.length && aisdk.trackPageView({});
    </script>
</head>
<body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page_overlay">
        <div class="loader-inner ball-scale-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="wrapper-body">
        <header class="s-header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="header-top-left">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#" title="Call us: (999) 777-8080"><i class="fa fa-phone"></i></a>
                        </div>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div> <!--  End of header top   -->
            <div class="menu">
                <div class="container">
                    <div class="row">
                        <div class="header-top-left">
                            <a href="@Url.Action("Index","Home")" class="logo">
                                <img src="@Url.Content("~/Images/logo.png")" alt="logo-image">
                            </a>
                        </div>
                        <div class="header-top-right">
                            <nav class="navbar">
                                <div class="nav-wrapper">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="overlay"></div>
                                    <div class="nav-menu">
                                        <a href="#" class="close">
                                            <i class="fa fa-times"></i>
                                        </a>
                                        <ul class="nav navbar-nav menu-bar">
                                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                            <li><a href="#">League Members</a></li>
                                            <li><a href="#">Locations</a></li>
                                            <li class="dropdown">
                                                @Html.ActionLink("Store", "Index", "Store")
                                                <ul class="submenu">
                                                    <li>
                                                        @Html.ActionLink("Shopping Cart", "Index", "Cart")
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Blog</a></li>
                                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                                            <li>
                                                <a href="#" class="search-box-tablet"><i class="fa fa-search"></i></a>
                                                <input type="text" placeholder="Search" class=" search-box-top">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>  <!-- End of header right -->
                    </div>
                </div>
            </div> <!-- End of menu -->
            @RenderSection("HeaderOverlay", required: false)

            @*Example HeaderOverlay section content:
                <div class="button-wrapper">
                    <div class="container">
                        <div class="row">
                            <a href="#" class="btn-content pull-right">Contoso Home</a>
                        </div>
                    </div>
                </div>*@
        </header>
        <!-- End of header -->
        @* The content within the RenderBody (views) should be wrapped in a <section> tag *@
        @RenderBody()

        <footer>
            <div class="container">
                <div class="row">
                    <div class="row left">
                        <div class="pages">
                            <h4>Pages</h4>
                            <ul>
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li><a href="#">League Members</a></li>
                                <li><a href="#">Locations</a></li>
                                <li>@Html.ActionLink("Store", "Index", "Store")</li>
                                <li><a href="#">Blog</a></li>
                                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row right">
                        <div class="contact">
                            <h4>Contact us</h4>
                            <p>7401 164th Ave NE<br />Redmond, WA 98052</p>
                            <p>Phone: (555) 555-8000<br />Mail: <a href="mailto:contact@contoso.com">contact@contoso.com</a></p>
                        </div>
                        <div class="recent">
                            <h4>Recent Blog Posts</h4>
                            <div class="figure row">
                                <div>
                                    <img src="@Url.Content("~/Images/photo/soccer.jpg")" alt="image">
                                </div>
                                <div class="figcaption">
                                    <h5 class="heading"><a href="#">New league sign-ups coming up</a></h5>
                                    <h5 class="date">July 7, 2015</h5>
                                    <p>Lorem Ipsum sit amit...</p>
                                </div>
                            </div>
                            <div class="figure row">
                                <div>
                                    <img src="@Url.Content("~/Images/photo/mens-volleyball.jpg")" height="73" width="83" alt="">
                                    >
                                </div>
                                <div class="figcaption">
                                    <h5 class="heading"><a href="">Store opening in Seattle</a></h5>
                                    <h5 class="date">June 29, 2015</h5>
                                    <p>Lorem Ipsum is the bomb...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h6>&copy; @DateTime.Now.Year -  Contoso Sports League</h6>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>